@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:wght@100&family=Shippori+Antique+B1&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media only screen and (min-width:768px){
  .login-md{
    margin-top: 100;
  }
}

.zoom {
  transition: transform .2s; 
  margin: 0 auto;
}
.zoom-hjc {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1); 
}


.gradient {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 4%, rgba(226,226,226,1) 11%, rgba(209,209,209,1) 17%, rgba(210,210,210,1) 19%, rgba(203,203,203,1) 23%, rgba(130,130,130,1) 45%, rgba(76,77,77,1) 64%, rgba(7,9,9,1) 100%); 
}

.gradient2 {
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 0%, rgba(63,64,64,1) 0%, rgba(22,23,23,1) 58%, rgba(7,9,9,1) 77%); 
}

.gradient3 {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 0%, rgba(144,145,145,1) 0%, rgba(144,145,145,1) 0%, rgba(144,145,145,1) 12%, rgba(86,87,87,1) 47%, rgba(63,64,64,1) 75%, rgba(63,64,64,1) 75%); 
}

.navbar {
  background: #050708;
}

.navbar.home{
  background: transparent;
  height: 80px;
  display: flex;
  align-items: center;
  top: 0;
  font-size: 1.2rem;
  z-index: 999;
  position: absolute;
}

.navbar.home.active{
  position: sticky;
  background: #050708;
  height: 80px;
}

.artikel{
  background: #050708;
  background-size:cover;
  position: relative;
  width: "100%";
  height: "100%";
}

.content-container {
  min-height: calc(100vh);
}




